@using SchoolApp.Models
@model SchoolApp.Models.Book

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">Book List</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#about">Add New Book</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        

                        <table class="table table-bordered" id="example" class="display">
                            <thead>
                                <tr class="success"><td>Name</td><td>Author Name</td><td>Action</td></tr>
                            </thead>

                            <tfoot>
                                <tr class="success"><td>Name</td><td>Author Name</td><td>Action</td></tr>
                            </tfoot>
                            <tbody>

                                @{
                                   List<Book> aBookList = (List<Book>)ViewBag.BookList;

                                foreach (Book book in aBookList)
                                {
                                    <tr>
                                        <td>@book.name</td>
                                        <td>@book.AuthorName</td>

                                        <td>
                                            <a href="@Url.Action("EditBook", "Book", new { id = @book.BookId })">Edit</a> / <a href="@Url.Action("DeleteBook","Book", new{id=@book.BookId})">Delete</a>
                                        </td>

                                    </tr>

                                }

                                }
                            </tbody>
                        </table>

                      

                    </div>
                    <div id="about" class="tab-pane">
                        <header class="panel-heading">
                            New Employee Entry Form
                        </header>
                        <div class="panel-body">
                            @using (Html.BeginForm("Index", "Book", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-horizontal" role="form">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BookDescription, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextAreaFor(m => m.BookDescription, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.BookDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.AuthorName, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.AuthorName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AuthorName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BookStatus, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select name="classid" class="form-control">
                                                <option value="1">Available</option>
                                                <option value="0">Unavailable </option>
                                            </select>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Ssbn, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.Ssbn, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Ssbn, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ClassId, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select name="classid" class="form-control">
                                                @{
                                                    List<Class> aClassList = new List<Class>();
                                                    aClassList = (List<Class>)ViewBag.ClassList;
                                                    foreach (Class aClass in aClassList)
                                                    {
                                                        <option value="@aClass.ClassId">@aClass.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input type="submit" name="submit" value="submit" />
                                </div>
                            }
                            <div class="col-lg-8">@ViewBag.SuccessAlert</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section myscript
{
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}





