@using SchoolApp.Models
@model SchoolApp.Models.Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script language="JavaScript">
    function printSpecial() {
        var prtContent = document.getElementById("home");
        var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }

</script>

<div class="row">

    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">Student List</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#about">Add New Student</a>
                    </li>
                    <li style="float: right; background-color: green;border-radius: 10px;height: 35px;">
                        <a href="javascript:void(printSpecial())"><i class="icon-print"></i> Print </a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        
                        <table class="table table-bordered" id="example" class="display">
                            <thead>
                                <tr class="success"><td>Picture</td> <td>Student Name</td><td>Reg. Number</td><td>Roll Number</td><td>Father Name</td><td>Action</td></tr>
                            </thead>

                            <tfoot>
                                <tr class="success"><td>Picture</td> <td>Student Name</td><td>Reg. Number</td><td>Roll Number</td><td>Father Name</td><td>Action</td></tr>
                            </tfoot>
                            <tbody>

                                @{
                                    List<Student> studentList = new List<Student>();
                                    studentList = (List<Student>)ViewBag.StudentList;
                                    foreach (Student student in studentList)
                                    {
                                        <tr>
                                            <td><img src="../../Studentpicture/@student.ImagePath" width="50" height="50" class="img-rounded" /></td>
                                            <td>@student.StudentName</td>
                                            <td>@student.RegNo</td>
                                            <td>@student.RollNumber</td>
                                            <td>@student.FatherName</td>
                                            <td>
                                                <a href="@Url.Action("EditStudent","Student", new{stuid=@student.StudentId})">Edit</a>/ <a href="@Url.Action("DeleteStudent","Student", new{stuid=@student.StudentId})">Delete</a>/ <a href="@Url.Action("StudentCv","Student", new{stuid=@student.StudentId})">Details</a>
                                            </td>  
                                        </tr>
                                    }
                                   
                                }
                            </tbody>
                        </table>
                        <div class="alert-success">@ViewBag.SuccessAlert</div>
                    </div>
                    <div id="about" class="tab-pane">
                        <header class="panel-heading">
                            New Student Entry Form
                        </header>
                        <div class="panel-body">
                            @using (Html.BeginForm("Index", "Student", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-horizontal" role="form">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.StudentName, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FatherName, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.MotherName, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.RegNo, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.RegNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RegNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.RollNumber, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.RollNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RollNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Birth Date</label>
                                        <div class="col-md-3 col-xs-11">
                                            <div data-date-viewmode="years" data-date-format="dd/mm/yyyy" data-date="12-02-2012" class="input-append date dpYears">
                                                <input type="text" readonly="" size="16" class="form-control" name="birthday" id="birthday" required>
                                                <span class="input-group-btn add-on">
                                                    <button class="btn btn-danger" type="button"><i class="icon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-4">
                                            <select id="sex" name="sex" class="form-control">
                                                <option value="0">Select</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Religion, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.Religion, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BloodGroup, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-3">
                                            <select name="bloodgroup" class="form-control" id="bloodgroup">
                                                <option value="0">Select</option>
                                                <option value="O+">O+</option>
                                                <option value="A+">A+</option>
                                                <option value="B+">B+</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ContactAddress, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.ContactAddress, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ClassId, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select name="classid" class="form-control" id="classid">
                                                <option>Select</option>
                                                @{
                                                    List<Class> aClassList = new List<Class>();
                                                    aClassList = (List<Class>)ViewBag.ClassList;
                                                    foreach (Class aClass in aClassList)
                                                    {
                                                        <option value="@aClass.ClassId">@aClass.Name</option>
                                                    }
                                                }
                                            </select>

                                            @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SectionId, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5" id="sectionid">
                                            
                                            @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ImagePath, new { @class = "col-md-2 control-label" })
                                        <div class="fileupload fileupload-new col-lg-5" data-provides="fileupload">
                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                            </div>
                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                            <div>
                                                <span class="btn btn-white btn-file">
                                                    <span class="fileupload-new"><i class="icon-paper-clip"></i> Select image</span>
                                                    <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                                                    <input type="file" name="file" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="schoolid" value="@Session["school_id2133"]" />

                                    <input type="submit" name="submit" value="Admit Student" class="btn btn-success" />
                                </div>
                            }
                            <div class="col-lg-8">@ViewBag.SuccessAlert</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section myscript
{
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $('#classid').change(function() {
                var classid = $('#classid').val();
                var schoolid = $('#schoolid').val();
                var mydata = { classid: classid, schoolid: schoolid };
                $('#sectionid').html("");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTheSection", "Section")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(mydata),
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            $(data).each(function (key, value) {
                                $('#sectionid').append('<label class="radio-inline"><input type="radio" name="sectionid" value="' + value.SectionId + '">' + value.SectionName + '</label>');
                            });
                        }
                    },
                });
            });
            $('#example').DataTable();
        });
    </script>
}