@using System.Activities.Expressions
@using System.Data.SqlClient
@using SchoolApp.Models
@using SchoolApp.Models.DbGateway
@using SchoolApp.Models.View
@model SchoolApp.Models.ClassRoutine

@{
    ViewBag.Title = "Routine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home"><i class="icon-list"></i> Class routine list</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#about"><i class=" icon-plus-sign-alt"></i> Add class routine</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        <div class="row">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                @{
                                    SqlConnectionManager aManager = new SqlConnectionManager();
                                    List<Class> aClassList = new List<Class>();
                                    aClassList = (List<Class>)ViewBag.ClassList;

                                    foreach (Class aClass in aClassList)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#@aClass.ClassId" aria-expanded="false" aria-controls="collapseTwo">
                                                        @aClass.Name
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="@aClass.ClassId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <table class="table table-bordered">
                                                        @{
                                        string day = null;
                                        for (int i = 1; i <= 7; i++)
                                        {
                                            if (i == 1)
                                            {
                                                day = "saturday";
                                            }
                                            else if (i == 2)
                                            {
                                                day = "sunday";
                                            }
                                            else if (i == 3)
                                            {
                                                day = "monday";
                                            }
                                            else if (i == 4)
                                            {
                                                day = "tuesday";
                                            }
                                            else if (i == 5)
                                            {
                                                day = "wednesday";
                                            }
                                            else if (i == 6)
                                            {
                                                day = "thursday";
                                            }

                                            <tr>
                                                <td width="30%">@day</td>
                                                
                                                    @{
                                            string sqlquery = "SELECT tblClassRoutine.routine_id, tblClassRoutine.time_start, tblClassRoutine.time_end, tblClassRoutine.class_id, tblSubject.subject_id, tblSubject.name as subject_name from tblClassRoutine join tblClass on tblClassRoutine.class_id = tblClass.class_id Join tblSubject on tblSubject.subject_id = tblClassRoutine.subject_id where tblClass.school_id =1 AND tblClassRoutine.class_day = '" + day + "' AND tblClassRoutine.class_id = " + aClass.ClassId + "";
                                            SqlCommand aCommand = new SqlCommand(sqlquery, aManager.GetConnection());
                                            SqlDataReader aReader = aCommand.ExecuteReader();
                                            while (aReader.Read())
                                            {
                                                <td>
                                                    <ul class="nav navbar-nav">
                                                        <li role="presentation" class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                                                @aReader["subject_name"] (@aReader["time_start"]-@aReader["time_end"]) <span class="caret"></span>
                                                            </a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li><a href="@Url.Action("EditRoutine", "ClassRoutine", new { id = @aReader["routine_id"], classid = @aReader["class_id"] })">Edit</a></li>
                                                                <li><a href="@Url.Action("DeleteRoutine", "ClassRoutine", new { id = @aReader["routine_id"], classid = @aReader["class_id"] })">Delete</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            }
                                            aManager.CloseConnection();
}
                                            
                                        </tr>
                                        }
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                        <div class="col-lg-8">@ViewBag.SaveSuccessRoutine</div>
                    </div>
                    <div id="about" class="tab-pane">
                        <header class="panel-heading">
                            New Employee Entry Form
                        </header>
                        <div class="panel-body">
                            @using (Html.BeginForm("Routine", "ClassRoutine", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-horizontal" role="form">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ClassId, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select name="classid" class="form-control">
                                                @{
                                aClassList = new List<Class>();
                                aClassList = (List<Class>)ViewBag.ClassList;
                                foreach (Class aClass in aClassList)
                                {
                                    <option value="@aClass.ClassId">@aClass.Name</option>
                                }
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SubjectId, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select class="form-control" style="width:100%;" name="subjectid">
                                                @{
                                List<Subject> aSubjectList = new List<Subject>();
                                aSubjectList = (List<Subject>)ViewBag.SubjectList;
                                foreach (Subject aSubject in aSubjectList)
                                {
                                    <option value="@aSubject.SubjectId">@aSubject.Name</option>
                                }
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ClassDay, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select class="form-control" style="width:100%;" name="classday">
                                                <option value="sunday">sunday</option>
                                                <option value="monday">monday</option>
                                                <option value="tuesday">tuesday</option>
                                                <option value="wednesday">wednesday</option>
                                                <option value="thursday">thursday</option>
                                                <option value="friday">friday</option>
                                                <option value="saturday">saturday</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TimeStart, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.TimeStart, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.TimeStart, "", new { @class = "text-danger" })
                                            <select class="form-control" name="startampm">
                                                <option value="am">am</option>
                                                <option value="pm">pm</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TimeEnd, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.TimeEnd, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.TimeEnd, "", new { @class = "text-danger" })
                                            <select class="form-control" name="endampm">
                                                <option value="am">am</option>
                                                <option value="pm">pm</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>