@using SchoolApp.Models
@using SchoolApp.Models.View
@model SchoolApp.Models.ExamRoutine

@{
    ViewBag.Title = "ExamRoutine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">Examination List</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#about">Add New Subject</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        <table class="table table-bordered" id="example" class="display">

                            <thead>
                                <tr class="success"><td>Title</td> <td>Subject</td><td>Date</td><td>Time</td><td>Class</td><td>Action</td></tr>
                            </thead>

                            <tfoot>
                                <tr class="success"><td>Title</td> <td>Subject</td><td>Date</td><td>Time</td><td>Class</td><td>Action</td></tr>
                            </tfoot>
                            <tbody>

                                @{

                                    List<ExamRoutineView> aExamRoutineList = (List<ExamRoutineView>)ViewBag.ExamRoutine;

                                    foreach (ExamRoutineView aExam in aExamRoutineList)
                                    {
                                        <tr>

                                            <td>@aExam.ExamTitle</td>
                                            <td>@aExam.SubjectName</td>
                                            <td>@aExam.ExamDate</td>
                                            <td>@aExam.ExamTime</td>
                                            <td>@aExam.Classname</td>


                                            <td>
                                                <a href="@Url.Action("EditExamRoutine", "Exam", new { id = @aExam.Id })">Edit</a> / <a href="@Url.Action("DeleteExamRoutine", "Exam", new { id = @aExam.Id })">Delete</a>
                                            </td>

                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                    <div id="about" class="tab-pane">
                        <header class="panel-heading">
                            Exam Entry Form
                        </header>
                        <div class="panel-body">
                            @using (Html.BeginForm("ExamRoutine", "Exam", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-horizontal" role="form">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ExamTitle, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select name="examtitle" class="form-control">
                                                @{
                                List<Exam> aExamList = new List<Exam>();
                                aExamList = (List<Exam>)ViewBag.ExamList;
                                foreach (Exam aExam in aExamList)
                                {
                                        <option value="@aExam.Name">@aExam.Name</option>
                                }
                                                }
                                            </select>

                                            @Html.ValidationMessageFor(model => model.ExamTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ClassId, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            <select name="classid" class="form-control">
                                                @{
                                List<Class> aClassList = new List<Class>();
                                aClassList = (List<Class>)ViewBag.ClassList;
                                foreach (Class aClass in aClassList)
                                {
                                    <option value="@aClass.ClassId">@aClass.Name</option>
                                }
                                                }
                                            </select>

                                            @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SubjectName, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.SubjectName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Exam Date</label>
                                        <div class="col-md-3 col-xs-11">
                                            <div data-date-viewmode="years" data-date-format="dd/mm/yyyy" data-date="12-02-2012" class="input-append date dpYears">
                                                <input type="text" readonly="" size="16" class="form-control" name="examdate" id="examdate" required>
                                                <span class="input-group-btn add-on">
                                                    <button class="btn btn-danger" type="button"><i class="icon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ExamDay, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-4">
                                            <select id="examday" name="examday" class="form-control">
                                                <option value="Saturday">Saturday</option>
                                                <option value="Sunday">Sunday</option>
                                                <option value="Monday">Monday</option>
                                                <option value="Tuesday">Tuesday</option>
                                                <option value="Wednesday">Wednesday</option>
                                                <option value="Thursday">Thursday</option>
                                                <option value="Friday">Friday</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ExamTime, new { @class = "col-md-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(m => m.ExamTime, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ExamTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <input type="submit" name="submit" value="submit" class="btn btn-primary" />
                                </div>
                            }
                            <div class="col-lg-8">@ViewBag.SuccessAlert</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@section myscript
{
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}