@using SchoolApp.Models
@using SchoolApp.Models.View
@model SchoolApp.Models.Mark

@{
    ViewBag.Title = "ViewResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue "></header>
            <div class="panel-body">
                <div class="tab-content">


                    <header class="panel-heading">
                        Exam Entry Form
                    </header>
                    <div class="panel-body">
                        @using (Html.BeginForm("ViewResult", "Exam", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-inline" role="form">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.ClassId, new { @Value = ViewBag.ClassId })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.StudentId)

                                    <select name="studentid" class="form-control">
                                        @{
                            List<Student> aStudentList = new List<Student>();
                            aStudentList = (List<Student>)ViewBag.StudentList;
                            foreach (Student aStudent in aStudentList)
                            {
                                <option value="@aStudent.StudentId">@aStudent.StudentName</option>
                            }
                                        }
                                    </select>

                                    @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ExamId)

                                    <select name="examid" class="form-control">
                                        @{
                            List<Exam> aExamList = new List<Exam>();
                            aExamList = (List<Exam>)ViewBag.ExamList;
                            foreach (Exam aExam in aExamList)
                            {
                                <option value="@aExam.ExamId">@aExam.Name</option>
                            }
                                        }
                                    </select>

                                    @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })

                                </div>
                                <input type="submit" name="submit" value="submit" class="btn btn-primary" />
                            </div>

                        }

                    </div>
                </div>
                <div class="col-lg-8">@ViewBag.SuccessAlert</div>
            </div>

        </section>
    </div>
</div>

@{
    if (ViewBag.StudentResult != null)
    {
        <div class="row">

    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <table class="table table-bordered">
                @{

        List<ExamResultView> aResultViewList = new List<ExamResultView>();
        aResultViewList = (List<ExamResultView>)ViewBag.StudentResult;
        <tr><td>Subject Name</td><td>Mark Obtain</td><td>Mark total</td><td>Attendence</td></tr>
        foreach (ExamResultView examResultView in aResultViewList)
        {
            <tr><td>@examResultView.SubjectName</td><td>@examResultView.MarkObtain</td><td>@examResultView.MarkTotal</td><td>@examResultView.Attendence</td></tr>
        }

                }
            </table>
        </section>
    </div>
</div>
    }
}



